*{ /* será aplicado em "tudo" */
    margin:0; 
    padding:0; /* espaço do texto para borda */
    box-sizing: border-box;
     /* fonte q eu escolhi no https://fonts.google.com/ */
    text-align: center; /* deixa o texto alinhado no meio */
    text-decoration: none; /* tira o sublinhado dos textos */
}
.icon-primario{
    border-radius: 50%;
}
.foto-perfil{
    border-radius: 50%;
    margin: 10px, 2px;
}
.nome-perfil{
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    color: #c61111;
    padding: 5px;
}
.texto-perfil{
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    color: #bc0f0f;
    padding-bottom: 2px;
}
.button{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold; /* Deixa o texto em bold */
    background-color: #cbc4c4; /* cor do fundo */
    border: solid #cbc4c4 2px; /* tira a linha preta de borda */
    color: #440202; /* cor do texto */
    width: 645px; /* define uma largura padrão para os botões */
    height: 55px; /* define uma altura padrão para os botões */
    border-radius: 30px; /* formato da borda */
    font-size: 16px; /* tamanho da fonte */
    margin: 8px 2px; /* espaço entre uma borda a outra de outro botão, 8=cima e baixo, 2=direita e esquerda */
    cursor: pointer; /* altera o cursor ao passar por cima do butão */
    transition-duration: 0.4s; /* Tempo no qual haverá a o transição do efeito(hover)  */
}
.button:hover{ /* Hover diz como será o botão ao passar o mouse por cima dele, alterando o seu design  */
    display: inline-block;
    background-color: white;
    color: #bcb9b9;
}
ul{
    list-style-type: none;
    padding: 20px;
}
.nome-final{
    color: rgb(49, 48, 48);
    font-size: 10px;
}