*{ 
    margin: 5px; /* Gerando margem pra não ficar grudado aos lados */
    box-sizing: border-box;
    text-decoration: none; /* Removendo linha embaixo de link */
}
body{
    margin: 0; /* Tirando a margem geral */
    padding: 0;
    text-align: center; /* alinha tudo no centro */
}
.profile_card{ /* Colocando a imagem ao lado do texto */
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile_img{ /* Configurando tamanho e borda da imagem */
    border-radius: 20px;
    width: 200px;
    height: 200px;
}
.profile_infos{ /* Tirando margem do texto */
    margin: 0;
    padding: 0;
}
.profile_name{ /* Config do nome principal */
    margin: 1;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold; /* Deixa em bold */
    font-size: 3rem; 
    color: #FF0000;
}
.profile_subtext{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1rem;
    color: #950101;
    opacity: 0.8; /* Diminui opacidade */
}
button{
    background-color: #cbc4c4; /* Fundo do botão */
    border: solid #cbc4c4 2px; /* Colocando a borda da cor do fundo */
    color: #950101; 
    font-weight: bold;
    width: 645px; /* Tamanho padrao para os botões */
    height: 55px; 
    border-radius: 30px; /* Arredondando as pontas do botões */
    font-size: 16px; 
    margin: 8px 2px; /* Dando um espaço entre botão e texto */
    cursor: pointer; /* Muda o cursor ao passar por cima */
    transition-duration: 0.4s; /* Tempo de transição para efeito hover */
}
button:hover{ /* efeito ao passar o mouse */
    background-color: white;
    color: #bcb9b9;
}
a{ /* tirando cor azul do hiperlink */
    color: #950101;
}
.space{ /* alinhando icones e texto colocando um em cada ponta */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}
