*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}
.profileimg{
    border-radius: 50%;
    margin-top: 20px;
}

.profiletext{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: #c61111;
}
.subtext{
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    color: #bc0f0f;
    margin-bottom: 15px;
}
.botoes{
    font-weight: bold; /* Deixa o texto em bold */
    background-color: #cbc4c4; /* cor do fundo */
    border: solid #cbc4c4 2px; /* tira a linha preta de borda */
    color: #440202; /* cor do texto */
    width: 645px; /* define uma largura padrão para os botões */
    height: 55px; /* define uma altura padrão para os botões */
    border-radius: 30px; /* formato da borda */
    font-size: 16px; /* tamanho da fonte */
    margin: 8px 2px; /* espaço entre uma borda a outra de outro botão, 8=cima e baixo, 2=direita e esquerda */
    cursor: pointer; /* altera o cursor ao passar por cima do butão */
    transition-duration: 0.4s;
}
.botoes:hover{
    background-color: white;
    color: #bcb9b9;
}